*.mp4
Psota_data/
evaluation/
evaluation/annotations
evaluation/pig_tracking_dataset
evaluation/trash
Bytetrack/YOLOX_outputs
Bytetrack/Untitled2.ipynb
Bytetrack/.ipynb_checkpoints
Bytetrack/trash/

#*.xlsx
*.pickle
*.h5
#*.csv
*.results
*.out
*.json
*.jpg
Byterack.zip
*.zip
*.tar 
