# TODO: Update with exact module version
numpy==1.23
torch>=1.7
opencv_python
loguru
scikit-image
tqdm
torchvision>=0.10.0
Pillow
thop
ninja
tabulate
tensorboard
lap
motmetrics
filterpy
h5py
opencv-python
openpyxl

# verified versions
onnx
onnxruntime
onnx-simplifier
tabulate 
thop
lap